<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span><img src="{{ url_for('static', filename='images/wood-cutting.png') }}" width="24px" height="24px"/></span>
                &nbsp;&nbsp;
                <span>Wooder</span>
            </h3>
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="{{ url_for('views.index') }}">
                        <span class="ti-home"></span>
                        <span>Accueil</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('views.project') }}">
                        <span class="ti-hummer"></span>
                        <span>Projets</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('views.expense') }}">
                        <span class="ti-briefcase"></span>
                        <span>Dépenses</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('views.sale') }}">
                        <span class="ti-wallet"></span>
                        <span>Ventes</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="ti-settings"></span>
                        <span>Paramètres</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="Chercher">
            </div>
            <div class="social-icons">
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <div></div>
            </div>
        </header>
        <main>
            <h2 class="dash-title">Tableau de bord</h2>
            <div class="dash-cards">
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-reload"></span>
                        <div>
                            <h5>Nombre projets</h5>
                            <h4>5</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">Voir liste</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-briefcase"></span>
                        <div>
                            <h5>Total Dépenses</h5>
                            <h4>50,000,000 FBU</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">Voir liste</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-wallet"></span>
                        <div>
                            <h5>Total Ventes</h5>
                            <h4>95,000,000 FBU</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">Voir liste</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-bar-chart"></span>
                        <div>
                            <h5>Total Profit</h5>
                            <h4>40,000,000 FBU</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">Voir liste</a>
                    </div>
                </div>
            </div>

            <section class="recent">
                <div class="activity-grid">
                    <div class="activity-card">
                        <h3>Nos projets</h3>
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Projet</th>
                                        <th>Début</th>
                                        <th>Fin</th>
                                        <th>Encours</th>
                                        <th>Dépenses (Fbu)</th>
                                        <th>Revenus (Fbu)</th>
                                        <th>Profit (Fbu)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for expense in new_list_expenses%}
                                    <tr>
                                        <td>{{ expense[0] }}</td>
                                        <td>{{ expense[1][1] }}</td>
                                        <td>{{ expense[1][2] }}</td>
                                        <td>{% if expense[1][3] == True %} <span class="badge success">Oui</span> {% else %} <span class="badge warning">Non</span> {% endif %}</td>
                                        <td>{{ expense[1][0] }}</td>
                                        <td>{{ expense[1][4] }}</td>
                                        <td>{% if expense[1][4] - expense[1][0] > 0 %} <span class="badge info">{{ expense[1][4] - expense[1][0] }}</span> {% else %} <span class="badge danger">{{ expense[1][4] - expense[1][0] }}</span> {% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="summary-card">
                            <div class="summary-single">
                                <span class="ti-id-badge"></span>
                                <div>
                                    <h5>{{ stats[0] }}</h5>
                                    <small>Projets enregistrés</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-calendar"></span>
                                <div>
                                    <h5>{{ stats[1] }}</h5>
                                    <small>Projets encours</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-id-badge"></span>
                                <div>
                                    <h5>{{ stats[2] }}</h5>
                                    <small>Projets clôturés</small>
                                </div>
                            </div>
                            <div class="summary-single">
                                <span class="ti-face-smile"></span>
                                <div>
                                    <h5>3</h5>
                                    <small>Membres</small>
                                </div>
                            </div>
                        </div>
                        <div class="bday-card">
                            <div class="bday-flex">
                                <div class="bday-img"></div>
                                <div class="bday-info">
                                    <h5>Francesco Totti</h5>
                                    <small>Développeur</small>
                                </div>
                            </div>
                            <div class="text-center">
                                <button>
                                    <span class="ti-gift"></span>
                                    Great job!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>