{% extends 'base.html' %}

{% block title %}Dépenses{% endblock %}}

{% block content %}
    <h1 class="text-center bg-secondary text-white mt-3">Suivi dépenses</h1>
    <div>
        <div class="row justify-content-center">
            <br>
            <div class="form-card col-md-4 mt-5">
                <h5 class="text-center bg-danger-subtle text-white p-3 rounded">Saisie dépense</h5>
                <br />
                <form action="" method="POST">
                  <div class="row">
                      <div class="mb-3 col">
                        <label for="amount" class="form-label">Montant</label>
                        <input type="number" id="amount" class="form-control" name="amount" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3 col">
                        <label for="category" class="form-label">Catégorie</label>
                        <select class="choice_class form-control" id="category" name="category">
                            <option value="">Choisir catégorie ...</option>
                            <option value="Capital">Capital</option>
                            <option value="MO ouvriers">MO ouvriers</option>
                            <option value="MO supervision">MO supervision</option>
                            <option value="Déplacement">Déplacement</option>
                            <option value="Communication">Communication</option>
                        </select>
                      </div>
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Libellé</label>
                      <textarea id="description" class="form-control" name="description"></textarea>
                  </div>
                  <div class="row">
                      <div class="mb-3 col">
                        <label for="date_transaction" class="form-label">Date opération</label>
                        <input type="date" id="date_transaction" class="date_class form-control" name="date_transaction">
                      </div>
                      <div class="mb-3 col">
                        <label for="projet_id" class="form-label">Projet lié</label>
                          <select class="choice_class form-control" name="project_id" id="projet_id">
                              <option value="">Choisir projet ...</option>
                              {% for project in projects %}
                              <option value="{{ project.id }}">{{ project.title }}</option>
                              {% endfor %}
                          </select>
                      </div>
                      <div class="mb-3">
                        <label for="financier" class="form-label">Financier</label>
                        <select class="choice_class form-control" id="financier" name="financier">
                            <option value="">Choisir financier ...</option>
                            <option value="François">François</option>
                            <option value="Nick">Nick</option>
                            <option value="Koffi">Koffi</option>
                        </select>
                      </div>
                  </div>
                  <div class="row">
                  <button type="submit" class="btn btn-secondary btn-block">Ajouter</button>
                  </div>
                    <br />
                </form>
            </div>

            <div>
                <br />
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Intitulé</th>
                      <th scope="col">Catégorie</th>
                      <th scope="col">Montant</th>
                      <th> Date dépense</th>
                      <th> Financier</th>
                      <th> Saisie par</th>
                      <th scope="col">Projet lié</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for expense in expenses%}
                    <tr>
                      <th scope="row">{{ expense.id }}</th>
                      <td>{{ expense.description }}</td>
                      <td>{{ expense.category }}</td>
                      <td>{{ "{:,.0f}".format(expense.amount) }}</td>
                      <td>{{ expense.date_transaction.strftime('%d-%m-%Y') }}</td>
                      <td>{{ expense.financier }}</td>
                      <td>{{ expense.user_rel.firstname }} {{ expense.user_rel.lastname }}</td>
                      <td>{{ expense.business_rel.title }}</td>
                      <td>
                        <a href="{{ url_for('views.expense_edit', id=expense.id) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                        <a href="/expense_delete/{{expense.id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}}