{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}}

{% block content %}
    <div class="home-card">
        <div class="home-card-header">
            <h1 class="mt-5 text-center bg-info-subtle">Bienvenue sur wooder.</h1>
            <h4 class="mb-3 text-center">Un arbre coupé, dix nouveaux arbres poussent!</h4>
        </div>
        <div class="home-card-body text-center">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <img class="home-img" src="../static/images/tree1.jpg" alt="Image 1">
                </div>
                <div class="col-md-4 col-sm-6">
                    <img class="home-img" src="../static/images/tree2.jpg" alt="Image 2">
                </div>
                <div class="col-md-4 col-sm-6">
                    <img class="home-img" src="../static/images/tree3.jpg" alt="Image 3">
                </div>
                <div class="col-md-4 col-sm-6">
                    <img class="home-img" src="../static/images/tree4.jpg" alt="Image 4">
                </div>
                <div class="col-md-4 col-sm-6">
                    <img class="home-img" src="../static/images/tree5.jpg" alt="Image 5">
                </div>
                <div class="col-md-4 col-sm-6">
                    <img class="home-img" src="../static/images/tree6.jpg" alt="Image 6">
                </div>
            </div>
        </div>

    </div>
    <div class="home-card-footer container">
            <div class="footer-left">left</div>
            <div class="footer-left">center</div>
            <div class="footer-left">right</div>
    </div>
{% endblock %}}