{% extends 'base.html' %}

{% block title %}Détails Projet{% endblock %}}

{% block content %}
    <h1  class="text-center bg-secondary text-white mt-3">Gestion projets</h1>
    <div>
        <div class="row justify-content-center">
            <br>
            <div class="form-card col-md-4 mt-5">
                <h5 class="text-center bg-primary-subtle text-white p-3 rounded">Création Projet</h5>
                <br />
                <form action="" method="POST">
                  <div class="mb-3">
                    <label for="title" class="form-label">Intitulé</label>
                    <input type="text" id="title" class="form-control" name="title" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <input class="form-check-input" type="checkbox" name="active" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Encours
                    </label>
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Détails</label>
                      <textarea id="description" class="form-control" name="description"></textarea>
                  </div>
                  <div class="row">
                      <div class="mb-3 col">
                        <label for="date_start" class="form-label">Date début</label>
                        <input type="date" id="date_start" class="date_class form-control" name="date_start">
                      </div>
                      <div class="mb-3 col">
                        <label for="date_end" class="form-label">Date fin provisoire</label>
                        <input type="date" id="date_end" class="date_class form-control" name="date_end">
                      </div>
                  </div>
                  <div class="row">
                      <div class="mb-3 col">
                        <label for="estimated_cost" class="form-label">Coût estimé</label>
                        <input type="number" id="estimated_cost" class="form-control" name="estimated_cost">
                      </div>
                      <div class="mb-3 col">
                        <label for="estimated_revenue" class="form-label">Revenu estimé</label>
                        <input type="number" id="estimated_revenue" class="form-control" name="estimated_revenue">
                      </div>
                  </div>
                  <div class="row">
                  <button type="submit" class="btn btn-secondary btn-block">Créer</button>
                  </div>
                    <br />
                </form>
            </div>

            <div class="table-card">
                <h3>Nos projets</h3>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Intitulé</th>
                      <th scope="col">Ecours</th>
                      <th scope="col">Responsable</th>
                      <th> Coût estimatif</th>
                      <th> Revenu estimatif</th>
                      <th scope="col">Début</th>
                      <th scope="col">Fin</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for project in projects%}
                    <tr>
                      <th scope="row">{{ project.id }}</th>
                      <td>{{ project.title }}</td>
                      <td>{% if project.active %} <span class="badge success">Oui</span> {% else %} <span class="badge warning">Non</span> {% endif %}</td>
                      <td>{{ project.user_rel.firstname }} {{ project.user_rel.lastname }}</td>
                      <td>{{ "{:,.0f}".format(project.estimated_cost) }}</td>
                      <td>{{ "{:,.0f}".format(project.estimated_revenue) }}</td>
                      <td>{{ project.date_start.strftime('%d-%m-%Y') }}</td>
                      <td>{{ project.date_end.strftime('%d-%m-%Y') }}</td>
                      <td>
                        <a href="{{ url_for('views.project_edit', id=project.id) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                        <a href="/project_delete/{{project.id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}}